{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" integrity="sha256-DVV5cU9pxHH2Rofop3XD3b3rbfrOSIy2nU61DEbYy1Q=" crossorigin="anonymous">
{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js" integrity="sha256-+jmym6PChFok5u02khNcYDy5AdfiIN7Y/QCbBqiNgeE=" crossorigin="anonymous"></script>
<<<<<<< HEAD:resources/views/add.twig
  <script src="/javascripts/crud-actions.js"></script>
=======
  <script src="../javascripts/crud-actions.js"></script>
>>>>>>> b2379886541a4228cdaae2b1290ff0dfaaa458d0:resources/views/crud.twig
{% endblock %}

{% block buttons %}
<div id="top-navbar">
  <form action="logout" method="POST">
    <a id="login-btn" href="#" onclick="this.parentNode.submit()">Salir</a>
  </form>
</div>
{% endblock %}

{% block content %}
<<<<<<< HEAD:resources/views/add.twig
  <form id="crud-form" action="/admin/add" method="POST" enctype="multipart/form-data">
    <div id="img-container">
      <div id="logo-container">
        <img id="logo-img" class="preview-img" src="/images/logo-ph.jpg">
=======
{% if errors.any() %}
  <span class="login-signup-error-message">
    {{errors.first()}}
  </span>
{% endif %}
  <form id="crud-form" action="/admin/add" method="POST" enctype="multipart/form-data">
    <div id="img-container">
      <div id="logo-container">
        <img id="logo-img" class="preview-img" src="../images/logo-ph.jpg">
>>>>>>> b2379886541a4228cdaae2b1290ff0dfaaa458d0:resources/views/crud.twig
        <div class="file-field">
          <div class="file-btn">
            <span>Logo</span>
            <input id="logo-input" class="file-input" type="file" name="logoImg" accept="image/jpeg">
          </div>
        </div>
      </div>
      <div id="picture-container">
<<<<<<< HEAD:resources/views/add.twig
        <img id="picture-img" class="preview-img" src="/images/picture-ph.jpg">
=======
        <img id="picture-img" class="preview-img" src="../images/picture-ph.jpg">
>>>>>>> b2379886541a4228cdaae2b1290ff0dfaaa458d0:resources/views/crud.twig
        <div class="file-field">
          <div class="file-btn">
            <span>Foto</span>
            <input id="picture-input" class="file-input" type="file" name="fotoImg" accept="image/jpeg">
          </div>
        </div>
      </div>
    </div>
    <input class="crud-input" name="nombre" type="text" placeholder="Nombre" maxlength="64">
    <input class="crud-input" name="direccion" type="text" placeholder="Dirección" maxlength="64">
    <div class="dropdown">
      <button id="phone-select" class="dropdown-toggle" data-toggle="dropdown">Fijo</button>
      <ul class="dropdown-menu">
        <a class="dropdown-item" value="0" href="#">Fijo</a>
        <a class="dropdown-item" value="1" href="#">Móvil</a>
      </ul>
    </div>
    <input name="tipoTel" id="crud-phone-value" type="text" value="0" maxlength="1">
    <input id="crud-phone-input" name="telefono" class="crud-input" type="text" placeholder="Teléfono" maxlength="64">
    <div class="daytime-box">
      <label class="day-container">Domingo
        <input class="day-check" name="domCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="domOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="domClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Lunes
        <input class="day-check" name="lunCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="lunOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="lunClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Martes
        <input class="day-check" name="marCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="marOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="marClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Miércoles
        <input class="day-check" name="mieCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="mieOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="mieClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Jueves
        <input class="day-check" name="jueCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="jueOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="jueClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Viernes
        <input class="day-check" name="vieCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="vieOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="vieClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Sábado
        <input class="day-check" name="sabCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="sabOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="sabClose" type="text" placeholder="00:00">
      </div>
    </div>
    <div class="daytime-box">
      <label class="day-container">Happy hour
        <input class="day-check" name="happyCheck" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <div class="daytime-input-container">
        <input class="daytime-input timepicker" name="happyOpen" type="text" placeholder="00:00"><input class="daytime-input timepicker" name="happyClose" type="text" placeholder="00:00">
      </div>
    </div>
    <input class="crud-input" name="web" type="text" placeholder="Web" maxlength="64">
    <input class="crud-input" name="email" type="text" placeholder="Email" maxlength="64">
    <input id="crud-social-facebook-input" name="facebook" class="crud-input" type="text" maxlength="64">
    <label class="static-input-value" for="crud-social-facebook-input">www.facebook.com/</label>
    <input id="crud-social-instagram-input" name="instagram" class="crud-input" type="text" maxlength="64">
    <label class="static-input-value" for="crud-social-instagram-input">www.instagram.com/</label>
    <button id="crud-save-btn" class="crud-btn" type="submit">Guardar</button>
    <button id="crud-cancel-btn" class="crud-btn">Cancelar</button>
  </form>
{% endblock %}

{% block bodyscript %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
{% endblock %}
