{% extends 'layout.twig' %}

{% block buttons %}
<div id="top-navbar">
  <form action="logout" method="POST">
    <a id="login-btn" href="#" onclick="this.parentNode.submit()">Salir</a>
  </form>
</div>
{% endblock %}

{% block content %}

  {{ app.session.get('message') }}
  <a class="admin-btn" href="/admin/add">Agregar cervecería</a>
  <a class="admin-btn" href="#">Editar cervecería</a>
  <a class="admin-btn" href="#">Eliminar cervecería</a>
{% endblock %}
