{% extends 'layout.twig' %}

{% block buttons %}
<div id="top-navbar">
  <form action="logout" method="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">
    <a id="login-btn" href="#" onclick="this.parentNode.submit()">Salir</a>
  </form>
</div>
{% endblock %}

{% block content %}
  {% if app.session.get('mensaje') %}
    <span class="crud-error-message">{{ app.session.get('mensaje') }}</span>
  {% endif %}
  <a class="admin-btn" href="/admin/add">Agregar cervecería</a>
  <a class="admin-btn" href="/admin/edit">Editar cervecería</a>
  <a class="admin-btn" href="/admin/delete">Eliminar cervecería</a>
{% endblock %}
