{% extends 'layout.twig' %}

{% block javascript %}
  <script src="../javascripts/login-signup-actions.js"></script>
{% endblock %}



{% block content %}
  {% if errors.any() %}
    <span class="login-signup-error-message">
      {{errors.first()}}
    </span>
  {% endif %}
  <form id="login-form" action="login" method="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">
    <input class="login-signup-input" type="text" name="username" placeholder="Usuario" maxlength="16" autofocus="autofocus">
    <a class="input-warning-icon" href="#" data-toggle="tooltip" data-placement="left" title="Usuario requerido"></a>
    <input class="login-signup-input" type="password" name="password" placeholder="Contraseña" maxlength="16">
    <a class="input-warning-icon" href="#" data-toggle="tooltip" data-placement="left" title="Contraseña requerida"></a>
    <input id="login-signup-submit-btn" type="submit" value="Ingresar">
  </form>
{% endblock %}

{% block bodyscript %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
{% endblock %}
