{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha256-j+P6EZJVrbXgwSR5Mx+eCS6FvP9Wq27MBRC/ogVriY0=" crossorigin="anonymous">
{% endblock %}

{% block javascript %}
  <script src="/javascripts/select-actions.js"></script>
{% endblock %}

{% block buttons %}
<div id="top-navbar">
  <form action="logout" method="POST">
    <a id="login-btn" href="#" onclick="this.parentNode.submit()">Salir</a>
  </form>
</div>
{% endblock %}

{% block content %}
  {% for cerveceria in cervecerias %}
    <a class="select-btn {{ opcion }}" href="/admin/{{ opcion }}/{{ cerveceria.id }}">{{ cerveceria.nombre }}</a>
  {% endfor %}
  <a class="admin-btn" href="/admin">Volver</a>
{% endblock %}
